.conatiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;


}
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: rgb(207, 70, 70);
}
#box2{
    background-color: rgb(190, 190, 89);
}
#box3{
    background-color: pink;
}
#box4{
    background-color: rgb(96, 79, 60);
}
.qqq{/* this is for animation and easy loading eg */
    margin-top: 20%;
    margin-left: 20%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid #ffe66d;
    border-top:20px solid #4ecdc4;
    animation:spin 3s ease-in 0s infinite normal;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}
