.box1{
    position: relative;
    width: 750px;
    height: 500px;
    border: 5px solid burlywood;
}
.box1{
    overflow: hidden;
}
img{
    width: 750px;
    height: 500px;
}
.box2{
    position: sticky;
    top: 20px;
    width: 400px;
    height: 100px;
    border:2px solid lightblue;
    color: red;
    background-color:blueviolet;
    border-radius: 20px;
    text-align: center;
}