*{
    background-color: #000000;
}
.onepiece{
    width: 50%;
    margin-top: 200px;
    margin-left: 25%;
    text-align: center;
    font-family:"Libre Baskerville", serif;
    color: aliceblue;
}
.photo{
    width:75%;
    border:solid rgba(168, 209, 223, 0.968);
}
h1{
    text-transform: capitalize;
    color: bisque;


}
p{
    text-transform: lowercase;
}